html, body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#semaforo {
	width: 100px;
	background-color: black;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.light {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	transition: opacity 0.3s;
	opacity: 0.3;
	cursor: pointer;
}

.light.active {
	opacity: 1;
}